*{
    margin: 0; /*Lleva el marge dels costats*/
}
a{color: white; text-decoration: none;}
a:hover {color: white; font-family: 'Courier New', Courier, monospace; text-decoration: none }
a:visited {color: white; font-family: 'Courier New', Courier, monospace; text-decoration: none }
.Cleft span{
    border: 2px solid red;
}
.Vbar  {
    height: 75px;
    width: auto;
}
.logo{
    height: 85px;
    width: auto;
}
.Cleft{
    background-color:  blue;

    display: flex;
    align-items: center;
    flex-basis: 33%;
    justify-content: space-evenly;
}
.Ccenter{
    background-color:  blue;
    flex-basis: 33%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Ccenter img{
    border: 2px solid red;
}
.Cright span{
    border: 2px solid red;
    min-width: max-content block;
    text-align: center;
}
.Cright{
    background-color:  blue;
    display: flex;
    align-items: center;
    flex-basis: 33%;
    justify-content: space-around;
}
header nav{
    display: flex;
    min-width: 100%;
    max-height: 100px;
    justify-content: space-around;
}
header{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
header h1{
    background-color: green;
    display: flex;
    margin: 3%;
    justify-content: center;
    font-size: 5em;
}

/* ----------------------------- FOOTER --------------------------------------- */
footer{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 10px;
}
/* ----------------------------- INICIO --------------------------------------- */
main article{
    display: flex;
    flex-direction: column;
    border: green 2px solid;
    justify-content: center;
    margin: 0%;
}
main article img{
    max-width: 60%;
    height: auto;
}

/*----------------------------- BUILDS -------------------------*/
.builds .Cerca{
    display: flex;
    min-width: 75%;
    background-color: red;
    justify-content: center;
}
.builds .Cerca section{
    border: 1px solid blue;
    display: flex;
    max-width: 50%;
    justify-content: space-between;
}
.builds .Cerca span{
    border: 1px solid red;
}
.builds .Cerca ul{
    display: flex;
    flex-direction: row;
}
.builds .Cerca ul img{
    border: 1px solid red;
    height: 30px;
    width: auto;
}