*{
    margin: 0; /*Lleva el marge dels costats*/
}
a{color: white; text-decoration: none;}
a:hover {color: white; font-family: 'Courier New', Courier, monospace; text-decoration: none }
a:visited {color: white; font-family: 'Courier New', Courier, monospace; text-decoration: none }
.Cleft span{
    border: 2px solid red;
}
.Vbar  {
    height: 90%;
    width: auto;
}
.logo{
    height: 85px;
    width: auto;
}
.Cleft{
    background-color:  blue;

    display: flex;
    align-items: center;
    flex-basis: 33%;
    justify-content: space-evenly;
}
.Ccenter{
    background-color:  blue;
    flex-basis: 33%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Ccenter img{
    border: 2px solid red;
}
.Cright span{
    border: 2px solid red;
    min-width: max-content block;
    text-align: center;
}
.Cright{
    background-color:  blue;
    display: flex;
    align-items: center;
    flex-basis: 33%;
    justify-content: space-around;
}
header nav{
    display: flex;
    min-width: 100%;
    max-height: 100px;
    justify-content: space-around;
}
header{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
header h1{
    background-color: green;
    display: flex;
    margin: 3%;
    justify-content: center;
    font-size: 5em;
    text-align: center;
}

/* ----------------------------- FOOTER --------------------------------------- */
footer{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 10px;
}
/* ----------------------------- INICIO --------------------------------------- */
main article{
    display: flex;
    flex-direction: column;
    border: green 2px solid;
    justify-content: center;
    margin: 0%;
}
main article img{
    max-width: 60%;
    height: auto;
}

/*----------------------------- CHARACTERS -------------------------*/
.char main{
    display: flex;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    flex-direction: column;
}
/*----------- BARRA CERCA --------------*/
.char .Cerca{
    display: flex;
    min-width: 100%;
    margin-bottom: 20px;
}
.char .Cerca section{
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.char .Cerca span{
    border: 1px solid red;
    min-width: 48%;
    display: flex;
}
.Fcenter {
    justify-content: center;
}
.Fright{
    justify-content: flex-end;
}
.char .Cerca ul{
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.char .Cerca ul img{
    border: 1px solid red;
    height: 30px;
    width: auto;
    margin: 10px;
}
/*----------- CHARACTER LIST --------------*/
.Charlist{
    display:flex;
}
.Charlist section{
    display: flex;
    align-content: center;
}
.Charicon{
    height: 80px;
    width: auto;
}
.Charlist span{
    border: 1px solid black;

}
.Charinfo{
    min-width: 75%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Charname{
min-width: 25%;
}