*{
    margin: 0; /*Lleva el marge dels costats*/
}
/*Selecciona los links y sus estados (hover y visited) para que no mustren cambios de estilo, ya que no nos interesa que se vea cambiado porque forma parte del nav
también canbia el color del fondo cuando pones el ratón encima para que se sepa que es un link */
a{color: white; text-decoration: none;}
a:hover,
#contenedor_teams:hover,
#contenedor_char:hover,
#contenedor_others:hover,
#contenedor_profile:hover,
.login:hover {color: white; font-family: 'Courier New', Courier, monospace; text-decoration: none; background-color: #303033;}
a:visited {color: white; font-family: 'Courier New', Courier, monospace; text-decoration: none; }
/*Selecciona las líneas que hay entre las secciones del nav, les pone un margen a los lados y determina su altura*/
.Vbar  {
    height: 75px;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
}
.Ccenter .Vbar{
    margin-left: 0px;
    margin-right: 0px;
}
/*Es el centro del nav de la página y lleva un link que dirige a la página principal */
.logo{
    height: 85px;
    width: auto;
}
/*Hace que lo que es el link que se puede pulsar ocupe todo el recuadro y no solo las letras, esto facilita la interaccion con el nav*/
nav a,
nav p,
#contenedor_teams,
#contenedor_char,
#contenedor_others,
#contenedor_profile{
    display: flex;
    height: 95%;
    width: 95%;
    justify-content: center;
    align-items: center;
}
/* Coloca los elementos del nav que se ecuentran a la izquierda del icono central*/
.Cleft{
    display: flex;
    align-items: center;
    flex-basis: 33%;
    justify-content: space-evenly;
}
/* Coloca el icono central dentro del nav */
.Ccenter{
    flex-basis: 33%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Asigna una tipografia a los botones (button) */
button {
    font-family: 'Courier New', Courier, monospace;
}
/* Coloca los elementos del nav que se ecuentran a la derecha del icono central*/
.Cright{
    display: flex;
    align-items: center;
    flex-basis: 33%;
    justify-content: space-around;
}
/* Centra el texto */
.Cright span{
    text-align: center;
}
.teams,
.charnav,
.others,
.profile{
    min-width: 100%;
    min-height: 100%;
    padding-bottom: 0.65%;
}

/*Coloca los elementos del nav y le pone un color de fondo*/
header nav{
    display: flex;
    min-width: 100%;
    max-height: 100px;
    justify-content: space-around;
    background-color: #1c1c20;
}
/*Define el estilo del header*/
header{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    height: auto;
}
/*Contenedor para poner en columna la lista*/
#contenedor_teams,
#contenedor_char,
#contenedor_others,
#contenedor_profile{
    flex-direction: column;
    position: relative;
    display: inline-block;
    bottom: 0;
} 
/* Submenus desplegables de "TEAMS" */
.submenu_teams,
.submenu_charnav,
.submenu_others,
.submenu_profile {
    display: none;
    position: absolute;
    padding-inline-start: 0px;
}
/*Quitar el estilo a los elemntos de las listas*/
.submenu_teams li,
.submenu_charnav li,
.submenu_others li,
.submenu_profile li{
    list-style-type: none;
    margin-top: 2%;
    padding: 0%;
    display: flex;
}
.submenu_teams a,
.submenu_charnav a,
.submenu_others a,
.submenu_profile a,
.login{
    /* align-self: center; */
    min-width: 100%;
}
/* Quitar estilo al botón del log in*/
.login{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1em;
}
/*Hover del desplegable*/
.teams:hover + .submenu_teams,
.submenu_teams:hover,
.charnav:hover +.submenu_charnav,
.submenu_charnav:hover,
.others:hover + .submenu_others,
.submenu_others:hover,
.profile:hover + .submenu_profile,
.submenu_profile:hover {
    display: flex;
    flex-direction: column;
    background-color: #1c1c20;
    min-width: 93%;
    justify-content: center;
    text-align: center;
    padding: 3%;
    border: 0.1em solid #f5445f;
    border-top: transparent;
    border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
}

/* Define el margen del título de la pagina y su posicion */
.char header h1{
    display: flex;
    padding: 3%;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: center;
    font-size: 5em;
    text-align: center;
}
/* Añade una imagen de fondo que ocupe el título más un margen para que quede estético. El margen que ocupa es el mismo que tiene el h1 */
.char div{
    background-image: url("Recursos/charbanner.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100%;
}
/* ----------------------------- FOOTER --------------------------------------- */
/* Coloca el pie de página, le da un estilo i un color de fondo */
footer{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    background-color: #17171a;
    color: white;
    padding: 20px;
    margin-top: 10px;
}
/* ----------------------------- MAIN --------------------------------------- */
/* Le da un estilo y un color de fondo al contenido de las páginas */
body{
background-color: #1c1c20;
color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
}
/* ----------------------------- INICIO --------------------------------------- */
/* Coloca el título, le da los márgenes y el estilo */
.inicio header h1{
    display: flex;
    padding: 3%;
    justify-content: center;
    font-size: 5em;
    text-align: center;
}
/* Añade una imagen de fondo que ocupe el título más un margen para que quede estético. El margen que ocupa es el mismo que tiene el h1 */
.inicio div{
    background-image: url("Recursos/Novedadesbanner.jpg");
    background-size: cover;
    background-position: top;
    min-height: 100%;
}
/* Establece un color de fondo para el contenido de la página */
.inicio body{
    background-color: #1c1c20;
}
/* Coloca los items del contenido principal al centro y en columna */
.inicio main{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 80%;
}
/* Es la división del contenido de la página de inicio, coloca cada uno de estos, definiendo los márgenes que tienes, la dirección,
el fondo y que siempre estén las letras en mayusculas*/
.inicio main article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    background-color: #252527;
    border: #1c1c20 solid 1px;
    border-radius: 30px;
    min-width: 50%;
    max-width: 50%;
    padding: 2%;
    text-transform: uppercase;
    text-align: center;
}
/* Coloca el título del artículo con sus márgenes y tamaño*/
.inicio main article span{
    margin-bottom: 3%; 
    font-size: 1.5em;
    display: flex;
    min-width: 80%;
    justify-content: center;
}
.video{
    display: flex;
}
/* Tamaño del video */
.video iframe{
    display: flex;
    min-height: 315px;
    width: 100%;
}
/*----------------------------- CHARACTERS -------------------------*/
/* Define el tamaño de los márgenes y la disposición del contenito de la página */
.char main{
    display: flex;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    flex-direction: column;
}
/*----------- BARRA CERCA --------------*/
.char main article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0%;
}
.char article img{
    max-width: 60%;
    height: auto;
}
.char main{
    margin-top: 2%;
}
.char .Cerca{
    display: flex;
    min-width: 100%;
    background-color: #252527;
    border: #1c1c20 solid 1px;
    border-radius: 15px;
}
.char .Cerca section{
    display: flex;
    justify-content: space-between;
    min-height: 50px;
}
.char .Cerca span{
    background-color: #303033;
    min-width: 48%;
    display: flex;
    min-height: 30%;
    align-items: center;
}
/*Parte del título*/
.Fcenter {
    justify-content: center;
    border-top: #252527;
    border-top-left-radius: 15px;
}
/*Parte de búsqueda*/
.Fright{
    justify-content: flex-end;
    padding-right: 2%;
    border-top: #252527;
    border-top-right-radius: 15px;
}
/*Iconos*/
.char .Cerca ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    padding: 1%;
    min-width: 90%;
    flex-wrap: wrap;
}
.char .Cerca ul img{
    border: 1px solid #f5445f;
    height: 30px;
    width: auto;
    padding: 10px;
    margin-left: 1%;
    margin-right: 1%;
}
.char .Cerca ul img:hover{
    background-color: #303033;
}
/*----------- CHARACTER LIST --------------*/

.Charlist{
    display: flex;
    padding-top: 2%;
}
/*Link d ela página del personaje*/
.Charname a{
    background-color: red;
    min-height: 100%;
    min-width: 100%;
    border: 1px white solid;
}
/*Líne de personaje (2 personajes por línea*/
.Charlist section {
    display: flex;
    align-content: center;
    background-color: #252527;
    justify-content: space-between;
    margin-bottom: 1%;
    padding: 2%;
    flex-direction: row;
    border: #1c1c20 solid 1px;
    border-radius: 15px;
}
/*Icono del personaje*/
.Charicon{
    min-width: 100px;
    height: auto;
}
/*Cada uno de los personajes dentro de su linea*/
.Charlist .pj{
    background-color: #303033;
    max-width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
    border: #f5445f solid 1px;
    border-radius: 10px;
    flex-basis: auto;
    align-items: center;
}
/*Hace que el bloque del personaje (que es un link) no cambie de estilo cuando pasas el cursor por encima*/
.Charlist a{color: white; text-decoration: none;}
.Charlist a:hover {color: white; font-family: Georgia, 'Times New Roman', Times, serif; text-decoration: none; background-color: #303033;}
.Charlist a:visited {color: white; font-family: Georgia, 'Times New Roman', Times, serif; text-decoration: none; }
/*Informacion del personaje*/
.Charinfo{
    max-width: 100%;
    padding: 2px;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    min-height: 65%;
    flex-shrink: 1;
    align-items: baseline;
    flex-wrap: wrap;
}
/*Nombre del personje*/
.Charname{
    min-width: 90%;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    text-align: center;
}
/*Estilo de las lineas divisorias*/
.lineaH{
    display: flex;
    align-self: center;
    margin-top: 3%;
    margin-bottom: 3%;
    min-width: 80%;
    height: auto;
}
/*Contenedor de la informacion del personaje*/
.pjinf{
    display: flex;
    flex-direction: column; 
    min-width: auto;
    max-width: 80%;
    margin-right: 2%;
}
.Element{
    display: flex;
    flex-direction: column;
    align-self: center;
    min-height: auto;
    min-width: auto;
    margin-right: 1%;
    margin-left: 1%;
}
.Element img{
    align-self: center;
}
.Type{
    display: flex;
    flex-direction: column;
    align-self: center;
    min-height: auto;
    min-width: auto;
    margin-right: 1%;
    margin-left: 1%;
}
.Type img{
    align-self: center;
    max-height: 20px;
}
.Stars{
    display: flex;
    flex-direction: column;
    align-self: center;
    min-height: auto;
    min-width: auto;
    text-align: center;
    margin-right: 1%;
    margin-left: 1%;
}
.Stars img{
    align-self: center;
}
/*----------------------------- BUILD -------------------------*/
/*-------- MAIN ------------- */
.build {
    background-color: #1c1c20;
}
/*------------- HEADER --------------------*/
/*Recuadro de la información*/
.Hinfo{
    min-width: 30%;
    display: flex;
    padding-bottom: 3%;
    max-width: 20%;
    align-self: center;
}
/*Imagen del personaje*/
.Ppng{
    margin-left: 1%;
    display: flex;
    align-items: flex-end;
}
.Ppng img{
    height: 600px;
    width: auto;

}
/*Información de elementos y clase*/
.build header article{
    display: flex;
    justify-content: center;
    padding-top: 3%;
}
.build header{
    background-image: url(Recursos/biuldbanner.jpg);
    background-position: center;
    background-size: cover;
}
.border{
    border: #f5445f solid 1px;
    border-radius: 40px;
    display: flex;
    max-width: 98%;
    max-height: 98%;
    flex-direction: column;
    background-color: #252527;
    padding-bottom: 3%;

}
.Btype{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 15%;
    padding-top: 4%;
}
.Btype img{
    max-height: 40px;
    width: auto;
}
.Btypeleft{
    padding-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    min-width: 30%;
    align-items: center;
}
.Btypeleft span{
    margin-left: 5%;
    margin-right: 5%;
}
.Btyperight{
    margin-left: 5%;
    padding-right: 5%;
    min-width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Btyperight span{
    margin-left: 5%;
    margin-right: 5%;
}
.BlineaH{
    display: flex;
    align-self: center;
    margin-bottom: 4%;
    margin-top: 4%;
    max-width: 80%;
    height: auto;
}
/*Nombre del personaje*/
.Bname{
    text-align: center;
}
/*Descripción del personaje*/
.Bdesc{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4%;
}
/*Estrellas del personaje*/
.Bstars{
    max-width: 30%;
    margin-bottom: 4%;
}
.Bdesc span{
    text-align: center;
    max-width: 90%;
}
.Bab{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 80%;
    align-self: center;
    margin-top: 1%;
}
/*----- SET ----------------*/
.Bset{
    display: flex;
    flex-direction:  row;
    justify-content: space-evenly;
    border: solid 1px #1c1c20;
    border-radius: 30px;
    margin-top: 3%;
    margin-bottom: 3%;
    min-width: 75%;
    background-color: #252527;
    padding: 1%;
    align-items: center;
}
.Bset1{
    display: flex;
    align-items: center;
    min-width: 20%;
    justify-content: space-evenly;
}
.Bset2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.Bcreador{
    display: flex;
    align-items: center;
}

/*---------------- INFO ---------------*/
.build main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Bstats{
    background-color: #252527;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
    max-width: 75%;
    padding: 1%;
    border: solid 1px #1c1c20;
    border-radius: 30px;
}/*Tabla de recomendaciones*/
.Btable {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 3%;
    background-color: #303033;
    flex-basis: 25%;
    padding: 1%;
    border: solid 1px #252527;
    border-radius: 15px;
    max-width: 32%;
}
.Btableline span{
    padding: 1%;
    display: flex;
    min-width: 47%;
    text-align: center;
    justify-content: center;
    flex-basis: auto;
    align-self: center;
}
.Btableline {
    display: flex;
    margin-bottom: 2%;
    min-width: 100%;
    border: #f5445f solid 1px;
    border-radius: 5px;
}
.BTL{
    border-right: solid 1px #f5445f;
}/*Información de las "stats" del equipamiento*/
.Bmidcol{
    display: flex;
    flex-direction: column;
    min-width: 30%;
    max-width: 32%;
    padding: 1%;
    background-color: #303033;
    border: #252527 solid 1px;
    border-radius: 15px;
    margin-top: 3%;
    margin-bottom: 3%;
} /*Equipamiento*/
.Bequip{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2%;
}
.Bbotas{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Bbotas img{
    max-width: 32px;
    height: auto;
    margin-bottom: 10%;
}
.Bcollar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Bcollar img{
    max-width: 32px;
    height: auto;
    margin-bottom: 10%;
}
.Banillo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Banillo img{
    max-width: 32px;
    height: auto;
    margin-bottom: 10%;
}
.Bequip{
    padding: 2%;
}/*Substats recomendadas*/
.BSubstats{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}
.BSubstats span {
    margin-bottom: 3%;
}
.Bsubtitle{
    margin-bottom: 5%;
}
.BEsubtat{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/*Artefacto*/
.Bcard {
    background-color: #303033;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 32%;
    border: #252527 solid 1px;
    border-radius: 15px;
    padding: 2%;
    margin: 3%
}/*Imagen de artefacto*/
.Bcard img{
    height: 200px;
    width: auto;
    margin-bottom: 5%;
    border: #f5445f solid 1px;
    border-radius: 15px;
}

/* ----------- INICIO PROFILE --------------*/
.profileInicio main{
    display: flex;
    flex-direction: row;
    background-color: #17171a;
}

.profileInicio header{
    background-image: url(Recursos/biuldbanner.jpg);
    background-position: center;
    background-size: cover;
}
.profileInicio header h1{
    display: flex;
    padding: 3%;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: center;
    font-size: 5em;
    text-align: center;
}
.profileInicio body{
    display: flex;
}

/*Quitar estilo al li*/
#menuPerfil ul{
    display: flex;
    display: table-column;
    align-content: center;
    padding-inline-start: 0px;
    min-width: 95%;
}
#menuPerfil ul li{
    list-style-type: none;
    margin-top: 10%;
    min-height: 20%;
    display: flex;
}
#menuPerfil ul li a{
    min-height: 85%;
    min-width: 95%;
    display: flex;
    align-items: center;
    padding-left: 5%;
}
#menuPerfil{
    font-family: 'Courier New', Courier, monospace;
    display: inline-flex;
    max-width: 15%;
    min-width: 15%;
    padding-left: 1%;
    min-height: 50vh;
    /* background-color: #252527; */
    background-color: #1c1c20;
}
#PerfilInfoCuerpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 50%;
    margin: 2%;
    border-radius: 30px;
    margin-bottom: 2%;
    background-color: #252527;

}
#PerfilInicioInformation{
    display: flex;
    min-width: 75%;
    max-width:fit-content;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 2%;
    flex-wrap: wrap;
}
#PIFIzq{
    display: flex;
    min-width: 63%;
    max-width: 63%;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5em;
}
#PIFIzqInfo{
    display: flex;
    flex-direction: column;
    min-width: 45%;
    max-width: 45%;
    justify-content: center;
    align-items: center;
}
#PIFDer{
    display: flex;
    min-width: 37%;
    max-width: 37%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
}
#nickName{
    font-size: 3em;
}
#server,
#level{
    font-size: 2.5em;
}
#ProfilePicture{
    max-width: 75%;
    max-height: 75%;
}
#ProfilePictureCont{
    min-width: 30%;
    max-width: 30%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#lineProfileV{
    max-width: 100%;
    min-height: auto;
}
#lineProfileVCont{
    min-width: 5%;
    max-width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#ocultarArena,
#ocultarRTA{
    max-width: 10%;
    min-width: 10%;
    max-height: auto;
    min-height: auto;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
#ocultarArena img,
#ocultarRTA img{
    max-width: 100%;
    max-height: auto;
}
#arenaInfo{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-bottom: 2%;
    min-width: 30%;
    justify-content: space-around;
    font-size: 1.8em;
}
#GuildPicture{
    max-width: 35%;
    min-width: 35%;
    max-height: auto;
    min-height: auto;
}
#MPArena,
#MPRTA{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.arenaLogo{
    display: flex;
    max-width: 50%;
    min-height: auto;
    max-height: auto;
}
#ayudantes{
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    align-items: center;
    max-width: 100%;
    justify-content: center;
}
.ayudanteIMG{
    min-width: 1em;
    max-width: auto;
    min-height: auto;
    max-height: auto;
    margin-left: 2%;
    margin-right: 2%;
}
#nota {
    background-color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 30px;
    min-width: 70%;
    max-width: 70%;
    min-height: 20vh;
}
#nota nav{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-height: auto;
    padding: 3%;
    max-width: 100%;

}
#MPdescripcion{
    color: black;
    max-width: 100%;
    max-height: 80%;
    min-height: 80%;
}

.lineaContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.PILH{
    max-width: 100%;
    max-height: auto;
}
.buttonSE{
    background-color: transparent;
    border-style: none;
}
#botonesEditar{
    min-height: 2%;
    min-width: 75%;
    max-height: 10%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content, .modal-content-images {
    background-color: #252527;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #252527;
    width: 30%; /* Ancho del modal */
    max-width: 30%; /* Ancho máximo */
    border-radius: 30px;
}

.modal-content form {
    padding-left: 15%;
}

.modal-content form span {
    margin-bottom: 20px; /* Ajustar la separación entre los elementos */
    display: block; /* Hacer que cada span sea un bloque, ocupando una línea completa */
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #f5445f;
    text-decoration: none;
    cursor: pointer;
}
/*Modal Ayudantes*/
.modal-content-images {
    background-color: #252527;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #252527;
    width: 80%; /* Ancho del modal */
    max-width: 80%;
    border-radius: 10px;
    text-align: center;
}

.modal-content-images .image-container {
    display: inline-block;
    margin-right: 20px; /* Espacio entre las imágenes */
}

.modal-content-images .image-container img {
    width: 100px; /* Ancho de las imágenes */
    height: auto;
    cursor: pointer;
}

.modal-content-images .image-container img.selected {
    border: 6px solid #f5445f; /* Borde para las imágenes seleccionadas */
}

.modal-content-images button {
    background-color: #f5445f;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 80px;
}

.modal-content-images .image-container img {
    width: 100px; /* Ancho fijo para cada imagen */
    height: auto;
    cursor: pointer;
    border: 3px solid transparent; /* Establece un borde transparente por defecto */
}

/* .modal-content-images .image-container img:hover {
    border-color: #f5445f;
    border-radius: 80px;
} */

.modal-content-images .image-container img.selected {
    border-color: #f5445f; /* Establece el color del borde para imágenes seleccionadas */
    border-radius: 80px; /* Agrega bordes redondeados */
}


.image-container {
    position: relative;
    display: inline-block;
}

.character-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* Evitar que el nombre del personaje afecte los eventos de ratón */
}


.image-container:hover .character-name {
    opacity: 1;
    backdrop-filter: blur(0.5px); /* Aplicar desenfoque al fondo */
}

.image-container img {
    width: 100%;
    height: auto;
    filter: blur(0); /* Eliminar desenfoque por defecto */
    transition: filter 0.3s ease;
}

.image-container:hover img {
    filter: blur(5px); /* Aplicar desenfoque cuando pasas el ratón sobre la imagen */
}
/*Modal foto perfil*/
.modal-content-pp {
    background-color: #252527;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #252527;
    width: 80%; /* Ancho del modal */
    max-width: 80%;
    border-radius: 10px;
    text-align: center;
}

.modal-content-pp .ppContainer {
    display: inline-block;
    margin-right: 20px; /* Espacio entre las imágenes */
}

.modal-content-pp .ppContainer img {
    width: 100px; /* Ancho de las imágenes */
    height: auto;
    cursor: pointer;
}

.modal-content-pp .ppContainer img.selected {
    border: 2px solid #f5445f; /* Borde para las imágenes seleccionadas */
}

.modal-content-pp button {
    background-color: #f5445f;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 80px;
}

.modal-content-pp .ppContainer img {
    width: 100px; /* Ancho fijo para cada imagen */
    height: auto;
    cursor: pointer;
    border: 3px solid transparent; /* Establece un borde transparente por defecto */
}

.modal-content-pp .ppContainer img:hover {
    border-color: #f5445f; /* Cambia el color del borde al pasar el mouse sobre la imagen */
    border-radius: 80px; /* Agrega bordes redondeados */
}

.modal-content-pp .ppContainer img.selected {
    border-color: #f5445f; /* Establece el color del borde para imágenes seleccionadas */
    border-radius: 80px; /* Agrega bordes redondeados */
}
/*-----------------------*/
#navOculto{
    display: none;
}


/*Quitar estilo a los a*/
#menuPerfil a{color: white; text-decoration: none;}
#menuPerfil a:hover{color: white; font-family: 'Courier New', Courier, monospace; text-decoration: none; background-color: #303033;}
#menuPerfil a:visited {color: white; font-family: 'Courier New', Courier, monospace; text-decoration: none; }
/* ----------- MEDIA QUERYS ----------------*/
@media screen and (max-width: 800px){
    .Bstats{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .Btable{
        min-width: 50%;
        align-self: center ;
    }
    .Bcard{
        min-width: 50%;
    }
    .Bmidcol{
        min-width: 50%;
    }
    .Ppng img{
        width: 200px;
        height: auto;
    }
    .build header article{
        max-width: 75%;
    }
    .build header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Hinfo{
        min-width: 60%;
    }
 /*----------------------------- PAGINA PERFIL -----------------------------*/
    .nav {
        display: none;
    }
    #menuPerfil {
        display: none;
    }
    #navOculto{
        display: block;
        display: flex;
        flex-direction: row;
        min-height: 5vh;

    }
    .dropCleft,.dropRCleft{
        display: flex;
        align-items: center;
        flex-basis: 49%;
        justify-content: space-evenly;
    }
    .dropcontenedor_char:hover,
    .dropRcontenedor_char:hover {
        color: white; font-family: 'Courier New', Courier, monospace; text-decoration: none; background-color: #303033;
    }
    .dropcontenedor_char,
    .dropRcontenedor_char{
    display: flex;
    height: 95%;
    width: 95%;
    justify-content: center;
    align-items: center;
    }
    .dropcontenedor_char,
    .dropRcontenedor_char{
    flex-direction: column;
    position: relative;
    display: inline-block;
    bottom: 0;
    } 
    .dropcharnav,
    .dropRcharnav{
        min-width: 100%;
        min-height: 100%;
        padding-bottom: 0.65%;
    }
    .dropsubmenu_charnav,
    .dropRsubmenu_charnav{
        display: none;
        position: absolute;
        padding-inline-start: 0px;
        margin-top: 2%;
    }
    .dropsubmenu_charnav{
        left: 16%;
    }
    .dropRsubmenu_charnav{
        right: 18%;
    }
    .dropsubmenu_charnav li,
    .dropRsubmenu_charnav li{
        list-style-type: none;
        margin-top: 2%;
        padding: 0%;
        display: flex;
    }
    .dropsubmenu_charnav a,
    .dropRsubmenu_charnav a{
        /* align-self: center; */
        min-width: 100%;
    }
    .dropcharnav:hover +.dropsubmenu_charnav,
    .dropsubmenu_charnav:hover,
    .dropRcharnav:hover +.dropRsubmenu_charnav,
    .dropRsubmenu_charnav:hover{
        display: flex;
        flex-direction: column;
        background-color: #1c1c20;
        min-width: 10%;
        justify-content: center;
        text-align: center;
        padding: 3%;
        border: 0.1em solid #f5445f;
        border-top: transparent;
        border-bottom-left-radius: 0.8em;
        border-bottom-right-radius: 0.8em;
    }
    #nickName{
        font-size: 1.6em;
    }
    #server,
    #level{
        font-size: 1.3em;
    }
}


@media screen and (max-width: 480px){
    .pj{
        min-width: 98%;
    }
    .Charlist section{
        flex-direction: column;
        align-items: center;
    }
    .Btable{
        min-width: 90%;
    }
    .Bmidcol{
        min-width: 90%;
    }
    .Bcard{
        min-width: 90%;
    }
    .modal-content{
        background-color: #252527;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        border: 1px solid #252527;
        width: 60%; /* Ancho del modal */
        max-width: 60%; /* Ancho máximo */
        border-radius: 30px;
    }
    #nickName{
        font-size: 1.3em;
    }
    #server,
    #level{
        font-size: 1em;
    }
    #PIFIzqInfo{
        display: flex;
        flex-direction: column;
        min-width: 65%;
        max-width: 70%;
        justify-content: center;
        align-items: center;
        font-size: 0.8em;
    }
    #PIFDer{
        margin-left: 0;

    }
    #PerfilInicioInformation{
        max-width: fit-content;
    }
}
